In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('../data/Estimated number of malaria cases.csv')[['Period', 'Location', 'FactValueNumericLow', 'FactValueNumeric', 'FactValueNumericHigh']].sort_values(['Location', 'Period'])
df2 = pd.read_csv('../data/Estimated number of malaria deaths.csv')[['Period', 'Location', 'FactValueNumericLow', 'FactValueNumeric', 'FactValueNumericHigh']].sort_values(['Location', 'Period'])

In [4]:
df1

,Period,Location,FactValueNumericLow,FactValueNumeric,FactValueNumericHigh
2235,2000,Afghanistan,843000.0,1312939.0,2022000.0
2131,2001,Afghanistan,849000.0,1312939.0,2007000.0
2023,2002,Afghanistan,916000.0,1382972.0,2106000.0
1914,2003,Afghanistan,810000.0,1242906.0,1916000.0
1894,2004,Afghanistan,480000.0,716954.0,1072000.0
...,...,...,...,...,...
610,2016,Zimbabwe,498000.0,755407.0,1046000.0
431,2017,Zimbabwe,830000.0,1332055.0,1909000.0
389,2018,Zimbabwe,392000.0,634718.0,899000.0
296,2019,Zimbabwe,470000.0,782740.0,1125000.0
2,2020,Zimbabwe,692000.0,1152901.0,1649000.0

In [5]:
df2

,Period,Location,FactValueNumericLow,FactValueNumeric,FactValueNumericHigh
2331,2000,Afghanistan,210.0,965.0,2030.0
2226,2001,Afghanistan,210.0,965.0,2020.0
2047,2002,Afghanistan,230.0,1133.0,2210.0
2003,2003,Afghanistan,210.0,798.0,1540.0
1875,2004,Afghanistan,120.0,350.0,670.0
...,...,...,...,...,...
568,2016,Zimbabwe,55.0,1933.0,3910.0
486,2017,Zimbabwe,96.0,3410.0,7100.0
355,2018,Zimbabwe,45.0,1624.0,3350.0
259,2019,Zimbabwe,54.0,2003.0,4230.0
48,2020,Zimbabwe,79.0,2951.0,6220.0

In [6]:
df3 = pd.DataFrame(
    np.array([
        df1.Period,
        df1.Location,
        df1.FactValueNumericLow,
        df1.FactValueNumeric,
        df1.FactValueNumericHigh,
        df2.FactValueNumericLow,
        df2.FactValueNumeric,
        df2.FactValueNumericHigh,
    ]).transpose(),
    columns=[
        'Year',
        'Country',
        'Cases(low)',
        'Cases',
        'Cases(high)',
        'Death(low)',
        'Death',
        'Death(high)',
    ]
)

In [7]:
df3 = df3.fillna(0)

In [8]:
df3[df3.Country == 'Azerbaijan']

,Year,Country,Cases(low),Cases,Cases(high),Death(low),Death,Death(high)
110,2000,Azerbaijan,0.0,1526.0,0.0,0.0,0.0,0.0
111,2001,Azerbaijan,0.0,1054.0,0.0,0.0,0.0,0.0
112,2002,Azerbaijan,0.0,505.0,0.0,0.0,0.0,0.0
113,2003,Azerbaijan,0.0,480.0,0.0,0.0,0.0,0.0
114,2004,Azerbaijan,0.0,386.0,0.0,0.0,0.0,0.0
115,2005,Azerbaijan,0.0,242.0,0.0,0.0,0.0,0.0
116,2006,Azerbaijan,0.0,141.0,0.0,0.0,0.0,0.0
117,2007,Azerbaijan,0.0,108.0,0.0,0.0,0.0,0.0
118,2008,Azerbaijan,0.0,72.0,0.0,0.0,0.0,0.0
119,2009,Azerbaijan,0.0,78.0,0.0,0.0,0.0,0.0
120,2010,Azerbaijan,0.0,50.0,0.0,0.0,0.0,0.0
121,2011,Azerbaijan,0.0,4.0,0.0,0.0,0.0,0.0
122,2012,Azerbaijan,0.0,3.0,0.0,0.0,0.0,0.0
123,2013,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
124,2014,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
125,2015,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
126,2016,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
127,2017,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
128,2018,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
129,2019,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
130,2020,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df3

,Year,Country,Cases(low),Cases,Cases(high),Death(low),Death,Death(high)
0,2000,Afghanistan,843000.0,1312939.0,2022000.0,210.0,965.0,2030.0
1,2001,Afghanistan,849000.0,1312939.0,2007000.0,210.0,965.0,2020.0
2,2002,Afghanistan,916000.0,1382972.0,2106000.0,230.0,1133.0,2210.0
3,2003,Afghanistan,810000.0,1242906.0,1916000.0,210.0,798.0,1540.0
4,2004,Afghanistan,480000.0,716954.0,1072000.0,120.0,350.0,670.0
...,...,...,...,...,...,...,...,...
2329,2016,Zimbabwe,498000.0,755407.0,1046000.0,55.0,1933.0,3910.0
2330,2017,Zimbabwe,830000.0,1332055.0,1909000.0,96.0,3410.0,7100.0
2331,2018,Zimbabwe,392000.0,634718.0,899000.0,45.0,1624.0,3350.0
2332,2019,Zimbabwe,470000.0,782740.0,1125000.0,54.0,2003.0,4230.0
2333,2020,Zimbabwe,692000.0,1152901.0,1649000.0,79.0,2951.0,6220.0

In [11]:
df3[df3['Country'] == 'Azerbaijan']

,Year,Country,Cases(low),Cases,Cases(high),Death(low),Death,Death(high)
110,2000,Azerbaijan,0.0,1526.0,0.0,0.0,0.0,0.0
111,2001,Azerbaijan,0.0,1054.0,0.0,0.0,0.0,0.0
112,2002,Azerbaijan,0.0,505.0,0.0,0.0,0.0,0.0
113,2003,Azerbaijan,0.0,480.0,0.0,0.0,0.0,0.0
114,2004,Azerbaijan,0.0,386.0,0.0,0.0,0.0,0.0
115,2005,Azerbaijan,0.0,242.0,0.0,0.0,0.0,0.0
116,2006,Azerbaijan,0.0,141.0,0.0,0.0,0.0,0.0
117,2007,Azerbaijan,0.0,108.0,0.0,0.0,0.0,0.0
118,2008,Azerbaijan,0.0,72.0,0.0,0.0,0.0,0.0
119,2009,Azerbaijan,0.0,78.0,0.0,0.0,0.0,0.0
120,2010,Azerbaijan,0.0,50.0,0.0,0.0,0.0,0.0
121,2011,Azerbaijan,0.0,4.0,0.0,0.0,0.0,0.0
122,2012,Azerbaijan,0.0,3.0,0.0,0.0,0.0,0.0
123,2013,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
124,2014,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
125,2015,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
126,2016,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
127,2017,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
128,2018,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
129,2019,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0
130,2020,Azerbaijan,0.0,0.0,0.0,0.0,0.0,0.0